*{
    margin: 0;
    padding: 0;
}

.disp{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vmax;
    height: 10vmin;
    background-color: black;
}
h1{
    font-size: 3.5vmax;
    color: #fff;
    text-shadow: 10px 10px 10px #fff;
}

.btnBox{
    width: 100vmax;
    height: 40vmin;
    gap: 5vmax;
}
.btn{
    width: 15vmax;
    height: 15vmax;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #000;
    transition: 0.1s ease;
    border: none;
    outline: none;
}
.btn:hover{
    transform: scale(1.1);
}
#rock{
    background-image: url(Assets/rock.png);
    background-position: center;
    background-size: cover;
}
#paper{
    background-image: url(Assets/paper.png);
    background-position: center;
    background-size: cover;
}
#scissors{
    background-image: url(Assets/scissors.png);
    background-position: center;
    background-size: cover;
}
.scoreBox{
    width: 100vmax;
    height: 15vmin;
    gap: 15vmax;
}
.score{
    width: 10vmax;
    height: 12vmin;
    flex-direction: column;
}
.text{
    font-size: 2.5vmax;
    text-shadow: 5px 5px 5px #000;
}
footer{
    width: 100vmax;
    height: 20vmin;
    flex-direction: column;
    gap: 2vmax;
}
.ans{
    background-color: #000;
    color: #fff;
    font-size: 2vmax;
    padding: 10px ;
    border-radius: 20px;
    text-shadow: 5px 5px 5px #fff;
    box-shadow: 10px 10px 10px #000;
}
.reset{
    background-color: #000;
    color: #fff;
    font-size: 1.5vmax;
    padding: 10px ;
    border-radius: 20px;
    text-shadow: 5px 5px 5px #fff;
    box-shadow: 10px 10px 10px #000;
    transition: 0.1s ease;
    border: none;
    outline: none;
}
.reset:hover{
    transform: scale(1.1);
}